@import url('https://fonts.googleapis.com/css?family=Comfortaa|PT+Mono&display=swap');

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Comfortaa, Roboto, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

main >  * > p {
  font-size: 5em;
}

main > app-blog > p { font-size: inherit;}
